<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sukai.mapper.UserMapper">

    <select id="findByUserName" resultType="com.sukai.entity.User">
        select * from user u where u.user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultType="com.sukai.entity.User">
        select * from User u;
    </select>

    <insert id="addUser">
        INSERT INTO mes.user (user_name, pass_word)
        VALUES (#{user.userName},#{user.passWord})
    </insert>
</mapper>
